@import "tailwindcss";
:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #1b1b1b;
    font-weight: 400;
    color: rgb(255, 255, 255);
    color-scheme: light dark;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}